/* ============= VARIABLES ============= */
:root {
  --pressed: #404bbf;
  --text-primary: #434455;
  --bg-cloud: #f4f4fd;
  --accent-gray: #2e2f42;
  --bg-text-secondary: #fff;
  --bg-eclipse: rgba(46, 47, 66, 0.7);
  --element-primary: #4d5ae5;
  --bg-cornflower: #e7e9fc;
  --bg-lightslate: #8e8f99;
  --green-accent: #31d0aa;
  --bg-form: #fcfcfc;
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--bg-text-secondary);
  color: var(--text-primary);
}

img {
  display: block;
  max-width: 100%;
}

svg {
  fill: var(--bg-cloud);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero,
.benefits,
.team,
.portfolio {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-link {
  /* Box model */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  /* Transition */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Visual */
  border-radius: 50%;
}

/* ============= /COMMON STYLES ============= */

/* ================ COMPONENTS ================ */
.section-title {
  /* Box model */
  margin-bottom: 72px;
  /* Typography */
  color: var(--accent-gray);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
/* ================ /COMPONENTS ================ */

/* ============= PAGE HEADER ============= */

.page-header {
  border-bottom: 1px solid var(--bg-cornflower);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logotype {
  color: var(--element-primary);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* Box model */
  margin-right: 76px;
}

.header-logo-text {
  color: var(--accent-gray);
}

.menu,
.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.menu-item,
.contacts-item {
  padding: 24px 0;
}

.menu-link,
.contacts-list-link {
  /* Box model */
  padding: 24px 0;

  /* Typography */
  color: var(--accent-gray);
  letter-spacing: 0.02em;

  /* Transition */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--pressed);
}

.studio-link {
  /* Positioning */
  position: relative;
}

.studio-link:hover::after,
.studio-link:focus::after,
.studio-link:active::after {
  /* Positioning */
  position: absolute;
  left: 0;
  bottom: -1px;

  /* Box model */
  margin: 0;

  content: '';
  width: 100%;
  height: 4px;
  color: var(--pressed);

  /* Visual */
  border-radius: 2px;
  background: var(--pressed);
}

.address {
  font-style: normal;
  color: var(--primary-gray);
}

.contacts-list-link {
  font-style: normal;
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* Transition */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:active,
.contacts-list-link:focus {
  color: var(--pressed);
}
/* ============= /PAGE HEADER ============= */

/* ================ HERO ================ */
.hero {
  /* Box model */
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  /* Visual */
  background-color: var(--accent-gray);
  background-image: linear-gradient(
      to bottom,
      var(--bg-eclipse),
      var(--bg-eclipse)
    ),
    url('../images/hero/office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  color: var(--bg-text-secondary);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  /* Box model */
  margin-bottom: 48px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.order-service-btn {
  /* Box model */
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;

  /* Typography */
  color: var(--bg-text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Visual */
  background-color: var(--element-primary);
  border-radius: 4px;
  border: none;

  /* Transition */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus,
.order-service-btn:active {
  background-color: var(--pressed);
}

/* ================ /HERO ================ */

/* ================ BENEFITS ================ */
.benefits-list {
  /* Box model */
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  /* Box model */
  display: block;
  width: calc((100% - 72px) / 4);
}

.benefits-icon-container {
  /* Box model */
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  /* Visual */
  border: 1px solid var(--bg-lightslate);
  border-radius: 4px;
  background: var(--bg-cloud);
}

.benefits-list-title {
  /* Box model */
  margin-bottom: 8px;
  /* Typography */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-gray);
}

.benefits-list-text {
  color: var(--text-primary);
}
/* ================ /BENEFITS ================ */

/* ================ TEAM ================ */
.team {
  background-color: var(--bg-cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  /* Box model */
  width: calc((100% - 72px) / 4);

  /* Visual */
  background-color: var(--bg-text-secondary);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-cards-info {
  display: block;
  padding: 32px 0;
}

.team-list-fullname {
  /* Box model */
  margin-bottom: 8px;
  /* Typography */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-gray);
  text-align: center;
}

.team-list-text {
  margin-bottom: 8px;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.social-list-item {
  /* Box model */
  width: 40px;
  height: 40px;
}

.social-team-link {
  /* Visual */
  background-color: var(--element-primary);
}

.social-team-link:hover,
.social-team-link:active,
.social-team-link:focus {
  background-color: var(--pressed);
}

.social-icon {
  fill: var(--bg-cloud);
}

/* ================ /TEAM ================ */

/* ================ PORTFOLIO ================ */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.portfolio-list-item {
  /* Box model */
  width: calc((100% - 48px) / 3);

  /* Transition */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-items-info {
  /* Box model */
  display: block;
  padding: 32px 16px;

  /* Visual */
  border: 1px solid var(--bg-cornflower);
  border-top: none;
}

.overlay-text {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  /* Visual */
  background-color: var(--element-primary);

  /* Transition */
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Typography */
  color: var(--bg-cloud);
  text-align: justify;
}

.portfolio-img {
  /* Overlay */
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-list-title {
  /* Box model */
  margin-bottom: 8px;
  /* Typography */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-gray);
}

.portfolio-list-text {
  letter-spacing: 0.02em;
  color: var(--text-primary);
}
/* ================ /PORTFOLIO ================ */

/* ================ PAGE FOOTER ================ */
.footer-back {
  /* Box model */
  padding: 100px 0;
  /* Visual */
  background-color: var(--accent-gray);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer-container {
  margin-right: 120px;
}

.footer-logotype {
  /* Box model */
  display: block;
  margin-bottom: 16px;

  /* Typography */
  color: var(--element-primary);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-text {
  color: var(--bg-cloud);
}

.marketing-message {
  color: var(--bg-cloud);
  line-height: 24px;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-media-text {
  /* Box model */
  margin-bottom: 16px;

  /* Typography */
  color: var(--bg-text-secondary);
  font-weight: 500;
}

.social-media-list {
  /* Box model */
  display: flex;
  gap: 16px;
}

.social-media-list-item {
  /* Box model */
  width: 40px;
  height: 40px;
}

.social-media-link {
  /* Visual */
  background-color: var(--element-primary);
}

.social-media-link:hover,
.social-media-link:focus,
.social-media-link:active {
  background-color: var(--green-accent);
}

.subscription-container {
  margin-left: 80px;
}

.subscription-title {
  /* Box model */
  margin-bottom: 16px;

  /* Typography */
  color: var(--bg-text-secondary);
  font-weight: 500;
}

.subscription-form {
  display: flex;
  gap: 24px;
}

.subscription-input {
  /* Box model */
  width: 264px;
  height: 40px;
  padding-left: 16px;

  /* Typography */
  color: var(--bg-text-secondary);
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.04em;

  /* Visual */
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription-input::placeholder {
  /* Typography */
  color: var(--bg-text-secondary);
}

.subscription-button {
  /* Box model */
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  /* Typography */
  color: var(--bg-text-secondary);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Visual */
  background-color: var(--element-primary);
  border: none;
  border-radius: 4px;

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-button:hover,
.subscription-button:focus,
.subscription-button:active {
  background-color: var(--pressed);
}

.subscription-button-icon {
  fill: var(--bg-text-secondary);
  margin-left: 16px;
}

/* ================ /PAGE FOOTER ================ */

/* ================ BACKDROP ================ */
.backdrop {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;

  /* Visual */
  background-color: rgba(46, 47, 66, 0.4);

  /* Transition */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Is Open */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ================ /BACKDROP ================ */

/* ================ MODAL WINDOW ================ */
.modal {
  /* Box model */
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;

  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  /* Visual */
  background-color: var(--bg-form);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* Transition */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  /* Box model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: auto;
  margin-bottom: 24px;

  /* Positioning */
  position: absolute;
  top: 24px;
  right: 24px;

  /* Visual */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-cornflower);

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed);
  border: none;
}

.close-btn-icon {
  fill: var(--accent-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--bg-text-secondary);
}
/* ================ /MODAL WINDOW ================ */

/* ================ MODAL FORM ================ */
.review-form-description {
  /* Box model */
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
  color: var(--accent-gray);
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  /* Box model */
  margin-bottom: 4px;
  display: block;
  width: 100%;

  /* Typography */
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: var(--bg-lightslate);
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  /* Box model */
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;

  /* Typography */
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;

  /* Visual */
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  /* Transition */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: var(--element-primary);
  outline: transparent;
}

.review-form-field-icon {
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  /* Visual */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-gray);
}

.review-form-input:focus + .review-form-field-icon {
  fill: var(--element-primary);
}

.review-form-comment {
  /* Box model */
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 120px;

  /* Typography */
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  /* Visual */
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  /* Transition */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Misc */
  resize: none;
}

.review-form-comment::placeholder {
  /* Typography */
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
  border-color: var(--element-primary);
  outline: transparent;
}

.review-form-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  /* Typography */
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;

  /* Visual */
  color: var(--bg-lightslate);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 16px;

  /* Visual */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Icon */
  fill: transparent;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: var(--pressed);
  border: none;
  fill: var(--bg-cloud);
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-privacy-link {
  color: var(--element-primary);
}

.review-form-submit {
  /* Box model */
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  /* Typography */
  color: var(--bg-text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Visual */
  background-color: var(--element-primary);
  border-radius: 4px;
  border: none;

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit:hover,
.review-form-submit:focus {
  background-color: var(--pressed);
}
/* ================ /MODAL FORM ================ */
